 {
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "plugins": ["@typescript-eslint", "import"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"],
      "babel-eslint": [".js", ".jsx"]
    },
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  },
  "globals": {
    "__DEV__": false,
    "jasmine": false,
    "beforeAll": false,
    "afterAll": false,
    "beforeEach": false,
    "afterEach": false,
    "test": false,
    "expect": false,
    "describe": false,
    "jest": false,
    "it": false
  },
  "ignorePatterns": ["node_modules", "dist"],
  "rules": {
    "generator-star-spacing": 0,
    "space-before-function-parent": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-object-literal-type-assertion": 0,
    "@typescript-eslint/no-use-before-define": 2,
    "@typescript-eslint/no-namespace": ["error", { "allowDeclarations": true }],
    "no-useless-constructor": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/consistent-type-imports": 1,
    "comma-dangle": 0,
    "import/named": 2,
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "internal"
          }
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "multiline-ternary": 0,
    "no-console": 2,
    "no-redeclare": 0,
    "no-undef": 0,
    "no-use-before-define": 0,
    "no-unused-vars": 0,
    "no-warning-comments": [
      "error",
      {
        "terms": ["todo", "fixme"],
        "location": "anywhere"
      }
    ],
    "quotes": 1,
    "semi": [2, "always"],
    "sort-keys": ["error", "asc", { "caseSensitive": true, "natural": true }]
  }
}
